.header {
    border: 25px solid #D5467;
    width: 90%;
    text-align: center;
    border-radius: 65px;
    position: fixed;
    z-index: 100;
    text-align: center;
    margin-left: 5%;
}

.pad{
    padding: 100px;
  }

.sectioning{
    padding-top: 30px;
}

#head1{
    text-align:center;
    color: green;
    font-family: Arial, serif;
    font-weight: bold;
    font-size: 120%;
}

#head2{
    text-align: center;
    color: #00FFFF;
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 100%;
}

.speech-bubble {
	position: relative;
    padding-top: 10px;
	background: #00651d;
	border-radius: 20px;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-right-color: #00651d;
    border-left: 0;
    border-bottom: 0;
    margin-top: -12.5px;
    margin-left: -25px;
}

.container {
    width: 80%;
    margin: auto;
    padding: 10px;
    text-align: left;
}
.icon {
    float: left;
    top: 50%;
    transform: translate(0%, 40%);

}
.textMessage {
    margin-left: 100px;
    max-width: 80%;
    text-align: left;


}

message {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: white;
    font-size: 75px;
    padding-right: 20px;
    padding-left: 60px;
    text-align: left;
}

a {
    text-decoration: none;
}