
{% extends "base.html" %}

{% block body %}
    <div class="header2">
	<div class="grid-x grid-padding-x">
	  <div class="large-2 medium-2 small-1 cell">
	  </div>
	  <!--<div class="sectioning">-->
    <div class="large-2 medium-1 small-3 cell">
	  </div>
	    <div class="large-4 medium-6 small-8 cell" >
	    	<h2 align="center" style="font-family: Arial;">Click on a message to see more about its author!</h2>

	</div>


</div>	

<div class="row">
  {% for person in display %}
  <div class="container">
  <div class="icon">

      <img src={{display[person]["iconURL"]}} height="100" width="100" border="3" style="border-radius: 50%; border-color: white;">
</div>

<form action="/profile" method="POST">
<button name="theSubmit" type="submit" class="textMessage" value="{{display[person]}}" style="cursor: pointer;">  
  <div class='speech-bubble'>
<h3></h3>
    <br>
	<message>{{display[person]['message']}}</message><br>
    <br><br><br>
  </div>
    </button>  

</form>
</div>

{% endfor %}
{% endblock %}

