
{% extends "base.html" %}

{% block body %}
<div align="center">
<div style="padding-top: 1%; background-color: green; margin:0 auto; width: 50%; border-radius: 20px;">
    <img src={{thePerson["iconURL"]}} height="300" width="300" border="3" style="border-radius: 50%; border-color: white;">
    
<div align="left" style="margin:0 auto; width: 50%;"><br><h2 style="color: white;">
    Name: {{thePerson["name"]}} <br>
    On for {{thePerson["termsOn"]}}<br>
    Project: {{thePerson["project"]}}<br>
    Site: <a style="color: lightgreen;" href={{thePerson["url"]}}>Click Me!</a><br>
    <br></h2></div> </div>
<a href="{{ url_for('root') }}">  <h1> Go Back Home!</h1></a>  </div>

{% endblock %}

